.spinner {
  width: 2rem;
  height: 2rem;
  border-top: .2rem solid #2d9ab7;
  border-radius: 50%;
  animation: .5s rounded infinite;
}

@keyframes rounded {
  0% {transform: rotate(0deg)}
  25% {transform: rotate(90deg)}
  50% {transform: rotate(180deg)}
  75% {transform: rotate(270deg)}
  100% {transform: rotate(360deg)}
}