/*https://colorhunt.co/palette/2c3333395b64a5c9cae7f6f2*/
body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin: 0;
  padding: 1rem 2rem;
  height: 2rem;
  background: #395B64;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  height: calc(100vh - 9rem);
  background: #E7F6F2;
  color: #2C3333;
  margin: 0;
  padding: 1rem 2rem;
}
footer {
  margin: 0;
  padding: 1rem 2rem;
  height: 1rem;
  background: #395B64;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #A5C9CA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  font-weight: bold;
}
